.overflow-x-auto {
  overflow-x: auto;
}
.w-full {
  width: 100%;
}
.border-1 {
  border: 1px solid black;
}
.shadow {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.rounded {
  border-radius: 0.25rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.table-auto {
  table-layout: auto;
}
.h-14 {
  height: 3.5rem;
}
.bg-tertiary {
  background-color: #e5ebb2;
}
.border {
  border-width: 0px;
}
.text-center {
  text-align: center;
}
.rounded-tl {
  border-radius: 0.25rem 0 0 0;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.rounded-tr {
  border-radius: 0 0.25rem 0 0;
}
.h-10 {
  height: 2.5rem;
}
.px-2 {
  padding: 0 0.5rem;
}
